main{
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    border: 3px solid #c0c0c0;
}

form{
    margin: 2em auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}
p{
    text-align: center;
}

input{
    display: block;
    border-radius: 0;
    background-color: #c0c0c0;
    font-family: "Press Start 2P", system-ui;
    margin: 0.5em 0 0.5em 0;
}

input:focus{
    outline: none;
}

button{
    font-family: "Press Start 2P";
    background-color: #c0c0c0;
    color: #201f1f;
    border: 2px solid #c0c0c0;
    border-radius: 0;
    display: block;
    width: fit-content;
    height: 2.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    align-self: center;
}

button:hover{
    border: 2px solid #c0c0c0;
    background-color: #201f1f;
    color: #c0c0c0;
}
.Nascosto{
    display: none;
}

span.Cliccabile{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    cursor: pointer;
}
span.Cliccabile:hover[onclick]{
    text-decoration: none;
}

#Error{
    color: red;
}