main{
    display: flex;
    justify-content: center;
    margin: 2em;
}

table{
    border-collapse: collapse;
    color: white;
}

th, td, table{
    border: 3px solid #c0c0c0;
    padding: 0.2em;
}
