/*MANUALE UTENTE*/
body{
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

h2, h3{
    color: white;
}

article{
    margin: 2em;
    padding: 2em;
    border: 3px solid #c0c0c0;
}
dt{
    color: yellow;
}
dd{
    margin-bottom: 0.5em;
}