h2, h3{
    color: white;
}

main a{
    display: block;
    text-align: center;
    color: white;
    text-decoration-thickness: 2px;
    font-size: 1.5em;
}

a:visited{
    color: white;
}

article{
    margin: 2em;
    padding: 2em;
    border: 3px solid #c0c0c0;
}

dt{
    color: yellow;
}

dd{
    margin-bottom: 0.5em;
}

ul{
    list-style: none;
}

dd > span.I ,a > span.I{
    background-color: #201f1f;
    color: rgb(255, 123, 0);
}

dd > span.L, a > span.L{
    background-color: #201f1f;
    color: blue;
}

dd > span.J, a > span.J{
    background-color: #201f1f;
    color: rgb(255, 0, 255);
}

dd > span.T, a > span.T{
    background-color: #201f1f;
    color: yellow;
}

dd > span.O, a > span.O{
    background-color: #201f1f;
    color: red;
}

dd > span.Z, a > span.Z{
    background-color: #201f1f;
    color: rgb(0, 255, 0);
}

dd > span.S, a > span.S{
    background-color: #201f1f;
    color: rgb(0, 255, 255);
}