html
{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #201f1f;
    color: #c0c0c0;
    font-family: "Press Start 2P", system-ui;
}
.PaginaAttuale{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

h1{
    font-size: 2em;
    margin: 0;
    text-align: center;
    text-shadow: 3px 3px 0 #201f1f;
    background-color: #c0c0c0;
}

nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 0;
    background-color: #c0c0c0;
    color: #201f1f;
    width: 100vw; 
    height: 2.7em;
    justify-content: space-between;
}

nav ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto; 
    justify-content: end;
    align-items: center;
    margin: 0;
}

nav li{
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

nav li a{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 1em 0 1em;
}

nav li a:hover{
    background-color: #201f1f;
    color: yellow;
}

nav a,nav a:visited{
    color: #201f1f;
    text-decoration: none;
}

body{
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
}
