html
{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #201f1f;
    color: #c0c0c0;
    font-family: "Press Start 2P", system-ui;
}

h1{
    font-size: 2em;
    margin: 0;
}

main
{
    flex-direction: row;
    display: flex;
    flex-direction: row;
}

nav{
    display: flex;
    flex-direction: row;
    margin-left: 0;
}

p{
    text-align: center;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li{
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
}

body{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#gameContainer
{
    display: flex;
    flex-direction: column;
}

#holdPreview{
    display: flex;
    flex-direction: column;
}

#Preview .cell{
    height: 1.2em;
    width: 1.2em;
}
#Hold .cell{
    height: 1em;
    width: 1em;
}



#Livello{
    color: yellow;
}

button{
    font-family: "Press Start 2P";
    align-self: center;
    background-color: #c0c0c0;
    color: #201f1f;
    border: 2px solid #c0c0c0;
    border-radius: 0;
    display: block;
    width: fit-content;
    height: 30px;
}

h1{
    text-align: center;
    text-shadow: 3px 3px 0 #c0c0c0;
}

button:hover{
    border: 2px solid #c0c0c0;
    background-color: #201f1f;
    color: #c0c0c0;
}

.Nascosto{
    display: none;
}

.row.Nascosto{
    display: none;
}

aside{
    display: flex;
    flex-direction: column;
}

div.gameBoard{
    float: left;
    width: fit-content;
    height: fit-content;
    margin: 2em;
    border: 3px solid #c0c0c0
}

#HoldPreview{
    margin-top: 1em;
}

table#GameStats{
    margin-top: 5em;
    text-align: left;
}
th{
    padding-right: 20px;
    text-align: left;
}

td{
    width: 6em;
}

.row{
    display: flex;
}

.StatusSconfitta{
    color: red
}
.StatusNuovoLivello{
    color: yellow;
}

.cell{
    width: 1.5em;
    height: 1.5em;
}

.I{
    background-color: rgb(255, 123, 0);
}

.L{
    background-color: blue;
}

.J{
    background-color: rgb(255, 0, 255);
}

.T{
    background-color: yellow;
}

.O{
    background-color: red;
}

.Z{
    background-color: rgb(0, 255, 0);
}

.S{
    background-color: rgb(0, 255, 255);
}


span.I{
    background-color: #201f1f;
    color: rgb(255, 123, 0);
}

span.L{
    background-color: #201f1f;
    color: blue;
}

span.J{
    background-color: #201f1f;
    color: rgb(255, 0, 255);
}

span.T{
    background-color: #201f1f;
    color: yellow;
}

span.O{
    background-color: #201f1f;
    color: red;
}

span.Z{
    background-color: #201f1f;
    color: rgb(0, 255, 0);
}

span.S{
    background-color: #201f1f;
    color: rgb(0, 255, 255);
}