.I{
    background-color: rgb(255, 123, 0);
}

.L{
    background-color: blue;
}

.J{
    background-color: rgb(255, 0, 255);
}

.T{
    background-color: yellow;
}

.O{
    background-color: red;
}

.Z{
    background-color: rgb(0, 255, 0);
}

.S{
    background-color: rgb(0, 255, 255);
}


span.I{
    background-color: #c0c0c0;
    color: rgb(255, 123, 0);
}

span.L{
    background-color: #c0c0c0;
    color: blue;
}

span.J{
    background-color: #c0c0c0;
    color: rgb(255, 0, 255);
}

span.T{
    background-color: #c0c0c0;
    color: yellow;
}

span.O{
    background-color: #c0c0c0;
    color: red;
}

span.Z{
    background-color: #c0c0c0;
    color: rgb(0, 255, 0);
}

span.S{
    background-color: #c0c0c0;
    color: rgb(0, 255, 255);
}