body{
    align-items: center;
    background-color: #201f1f;
    color: #c0c0c0;
    font-family: "Press Start 2P", system-ui;
    padding: 30px;
    display: flex;
    flex-direction: row;
}

main{
    display: flex;
    flex-direction: column;
}
#Livello{
    color: yellow;
}

button{
    font-family: "Press Start 2P";
    align-self: center;
    background-color: #c0c0c0;
    color: #201f1f;
    border: 2px solid #c0c0c0;
    border-radius: 0;
    display: block;
    width: fit-content;
    height: 30px;
}

h1{
    text-align: center;
    text-shadow: 3px 3px 0 #c0c0c0;
}

button:hover{
    border: 2px solid #c0c0c0;
    background-color: #201f1f;
    color: #c0c0c0;
}

button.Nascosto{
    display: none;
}

aside{
    display: flex;
    flex-direction: column;
}

div.gameBoard{
    float: left;
    width: fit-content;
    height: fit-content;
    margin: 2em;
    border: 3px solid #c0c0c0
}

table{
    text-align: left;
}
th{
    padding-right: 20px;
}

.row{
    display: flex;
}
#Status{
    color: red;
}

.Stats{
    color: white;
}

.cell{
    width: 1.2em;
    height: 1.2em;
}

.I{
    background-color: rgb(255, 123, 0);
}

.L{
    background-color: blue;
}

.J{
    background-color: rgb(255, 0, 255);
}

.T{
    background-color: yellow;
}

.O{
    background-color: red;
}

.Z{
    background-color: rgb(0, 255, 0);
}

.S{
    background-color: rgb(0, 255, 255);
}


span.I{
    background-color: #201f1f;
    color: rgb(255, 123, 0);
}

span.L{
    background-color: #201f1f;
    color: blue;
}

span.J{
    background-color: #201f1f;
    color: rgb(255, 0, 255);
}

span.T{
    background-color: #201f1f;
    color: yellow;
}

span.O{
    background-color: #201f1f;
    color: red;
}

span.Z{
    background-color: #201f1f;
    color: rgb(0, 255, 0);
}

span.S{
    background-color: #201f1f;
    color: rgb(0, 255, 255);
}